/*unversal accross all pages for 320px and more mobile*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
*{
    display: static;
    padding: 0;
    margin: 0;
  }
body{
    background-color: #F0EEC9;
    font-family: 'Source Serif 4', serif;
    color: #180A00;
    font-size: 14px;
    min-height: 100vh;
    width: 100%;
  }  
header, footer{
    background-color: #AE7F4D;
    width: 100%;
    height: inherit;
  } 
a{
    text-decoration: none;
    cursor: auto;
    z-index: 1;
  }
/*header style*/
#hero{
  position: inline-block;
  background-color: #867D2C;
  letter-spacing: 2px;
  font-size: 16px;
  } 
.website-header{
    font: bold;
    vertical-align: 20px;
  }
#menu-bar{
    background-color: #AE7F4D;
    text-align: center;
    line-height: 25px;
    padding: 5px;
  }
.menu-list a{
    display: inline-block;
    border-right: 2px solid #DCAA68;
    margin-inline: 2px;
    font-family: inherit;
    color: #F0EEC9;
    text-transform: uppercase;
    padding: 5px;
  }
.menu-list a:hover {
  text-decoration: 5px underline #DCAA68;
  color: #FFF;
}
hr{
  border: 1px solid #54441B;
  } 
/*home page body style*/
section{
  display: block;
  padding: 5px 10px 15px 10px;
  margin: 10px 10px;
  width: 90%;
  height: inherit;  
  word-spacing: 1.5px;
  }
.purpose-box, .brief-box{
  margin: 10px;
  padding-bottom: 15px;
  }
.container-purpose, .container-brief{
  padding-bottom: 10px;
}
h2{
  text-transform: capitalize;
  }
.list-purpose li{
  display: block;
  text-align: left;
  list-style-type: circle;
  }
.images{
  width: 240px;
  height: 160px;
  border-radius: 4px;
  }
.image-caption{
  position: absolute;
  border-radius: 2px;
  background-color: #54441B;
  color: #FFF;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-size: 8px;
  }
.image-container{
  padding-bottom: 10px;
  }
.content-container{
  padding: 5px;
}
.brief-paragraph{
  padding: 5px;
  }
.dance-image{
  width: 240px;
  height: 100px;
  }
/*footer style*/
  Footer{
    flex-direction: column-reverse;
    color: #FFF;
    text-transform: capitalize;
    font-size: 10px;
  }
.fontawesome-icons{
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 2px;
  text-align: center;
  padding: 15px 0 10px 0;
  }
.fontawesome-icons a{
  color:#FFF
  }
.facebook-icon :hover{
  color: #3B5A9B;
  }
.twitter-icon :hover{
  color: #2B97F1;
  }
.instagram-icon :hover{
  color: #f7120e;
  }
.linkedin-icon :hover{
  color: #006599;
  }
.site-purpose{
    text-align: center;
    padding: 0 0 10px 0;
  }
/*gallery page style*/
.box-spacing{
  margin: 25px;
  padding: 25px;
}
.smallbox-spacing{
  margin: 15px;
  padding: 15px;
}

.link-image{
    width: 75px;
    height: 40px;
  }
.info-for-image{
    font-size: 8px;
    width: 110px;
    height: 50px;
    white-space: wrap;  
    overflow: hidden;
    border: 1px solid #54441B;
  }
  .info-for-image:hover{
    overflow: scroll;
  }
  .link-image:hover{
    background-color: #DCAA68;
    border: 2px solid #54441B;
     }
  #external-links a{
      color: #54441B;
      font-style: italic;
  }
 .resource-links:hover{
      text-decoration: underline 5px solid #DCAA68;
 }  
 .box{
  display: flex;
  justify-content: space-around; 
  padding-left: 10px;
  margin: 10px;
} 
/*about us page style*/
.container{
  text-align: center;
  padding: 5px 10px 15px 10px;
  margin: 10px;
  width: 90%;
  height: inherit;  
  word-spacing: 1.5px;
}
.headings{
  text-transform: capitalize;
}
iframe{
  width: 240px;
  height: 160px;
}
/*form syle*/
  form{
    border: 2px solid #867D2C;
    border-radius: 5px;
    width: 260px;
    height: 430px;
  }
  fieldset{
    border: none;
    margin: 5px;
    padding: 5px;
  }
  legend{
    font-size: large;
    font-weight: bold;
  }
  label{
    display: block;
    width: 140px;
    text-align: right;
  }
  .input-style{
    border: 2px solid #867D2C;
    border-radius: 4px;
    background-color: #FFF;
    height: 20px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
  }
  input:focus{
    background-color: #DCAA68;
    border: 2px solid #54441B;
    color: #FFF;
  }
   textarea:focus{
    background-color: #DCAA68;
    border: 2px solid #54441B;
    color: #FFF;
  }
  textarea{
    width: 140px;
    height: 300px;
    padding: 12px 15px;
    box-sizing: border-box;
    resize: vertical; 
  }
  .button{
    border: #DCAA68;
    background-color: #867D2C;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    color: #FFF ; 
  }
  input[type="submit"]:hover, input[type="reset"]:hover{
    color:#DCAA68
  }

/*media query for tablet 600px and more*/
@media only screen and (min-width: 600px){
  #hero{
    font-size: 18px;
    letter-spacing: 3px;
    }
  .website-header{
    vertical-align: 25px;
    }
  #menu-bar{
    text-align: end;
    line-height: 30px;
    padding: 8px;
    padding-right: 60px;
    }
  section{
    font-size: 16px;
    font-weight: 350px;
    padding: 10px 15px 20px 15px;
    margin: 20px 20px;
    }
  .purpose-box, .box-flow{
    display: flex;
    justify-content: space-around; 
  } 
  .box-flow{
    margin-left: 10px;
    padding-left: 5px;
  }
  .brief-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    }
  .img-tablet{
    width: 280px;
    height: 180px;
    border-radius: 8px;
    }
  .image-container{
    padding: 0 15px 10px 15px;
    margin: 15px;
    }
  .dance-image, .container-purpose{
    padding-top: 10px;
    }
  .dance-img-table{
    width: 280px;
    height: 140px;
    border-radius: 6px;
    padding-top: 25px;
    }
  .image-caption{
    text-align: center;
    }
  .overflow-box{
    height: 200px;
    width: 1000px;
    white-space: wrap;  
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .overflow-box:hover{
    overflow: scroll;
  }
  .box-with-links{
    font-size:  14px;
    margin: 30px 0 0 10px;
    padding: 30px 0 0 20px;
    height: 350px;
  }
  .external-links li{
    text-align: left;
    }
  form{
    width: 360px;
    height: 530px;
  }
  textarea{
    height: 100px;
  }
  Footer{
    font-size: 15px;
    }
  .fontawesome-icons{
    letter-spacing: 6px;
    font-size: 18px;
    line-height: 5px;
    text-align: center;
    }
  iframe{
      width: 300px;
      height: 200px;
    }
/*media query setting for 1080px and more desktop*/
@media only screen and (min-width: 1080px) {
  #hero{
    font-size: 20px;
    }
  .website-header{
    vertical-align: 30px;
    }
  #menu-bar{
    line-height: 40px;
    padding: 10px;
    padding-right: 100px;
    }
  section{
    font-size: 18px;
    font-weight: 350px;
    padding: 20px 30px 40px 30px;
    margin: 25px 25px;
    }
  .purpose-box, .box-flow{
    display: flex;
    justify-content: space-around; 
  } 
  .brief-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    }
  .img-tablet{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    }
  .gallery-images{
    width: 350px;
    height: 250px;
    border-radius: 10px;
  }
  .image-container{
    padding: 5 30px 20px 30px;
    margin: 30px;
    }
  .dance-img-tablet{
    width: 300px;
    height: 160px;
    border-radius: 8px;
    padding-top: 30px;
    }
  .fontawesome-icons{
    letter-spacing: 10px;
    font-size: 20px;
    line-height: 8px;
    text-align: center;
    }
    .overflow-box{
      height: 300px;
      width: 1500px;
      white-space: wrap;  
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .overflow-box:hover{
      overflow: scroll;
    }
    .box-with-links important{
      height: 400px;
      padding-top: 10px;
      margin-top: 10px;
    }
    .info-for-image{
      font-size: 14px;
      width: 180px;
      height: 100px;
      white-space: wrap;  
      overflow: hidden;
      border: 1px solid #54441B;
    }
    .link-image{
      width: 150px;
      height: 80px;
    }
    .box-with-links{
      font-size:  16px;
      margin: 30px 0 0 10px;
      padding: 30px 0 0 20px;
      height: 550px;
    }
    .external-links li{
      text-align: left;
      }
      iframe{
        width: 450px;
        height: 280px;
        padding-right: 10px;
        margin-right: 10px;
      }
      .box-flow{
        margin-left: 12px;
        padding-left: 8px;
      }
      form{
        width: 550px;
        height: 530px;
        padding-right: 5px;
        margin-right: 5px;
      }
}