@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
/*unversal accross all pages*/
*{
    display: static;
    padding: 0;
    margin: 0;
  }
  body{
    background-color: #F0EEC9;
    font-family: 'Source Serif 4', serif;
    color: #180A00;
    font-size: 16px;
    font-weight: 350;
  } 
  header, footer{
    background-color: #AE7F4D;
  }
 #hero{
  position:relative;
  background-color: #867D2C;
  height: 100px;
  padding: 0px;
  }
  h1{
   
  }    
  Footer{
    color: #FFF;
  }
  /*form syle*/
  form{
    border: 2px solid #867D2C;
    width: 450px;
    height: 350px;
  }
  fieldset{
    border: none;
    margin: 5px;
    padding: 5px;
  }
  legend{
    font-size: large;
    font-weight: bold;
  }
  label{
    display: inline-block;
    width: 140px;
    text-align: right;
  }
  input[type="text"]{
    border: 2px solid #867D2C ;
    height: 20px;
    padding: 5px;
    margin: 5px;
    width:fit-content;
  }
  input[type="email"]{
    border: 2px solid #867D2C;
    height: 20px;
    padding: 5px;
    margin: 5px;
  }
  textarea {
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px solid #867D2C;
    border-radius: 4px;
    background-color: #FFF;
    resize: vertical; 
  }
  input[type="submit"]{
    border: #DCAA68;
    background-color: #867D2C;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold; 
    color: #FFF ;
  }
  input[type="reset"]{
    border: #DCAA68;
    background-color: #867D2C;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold; 
    color: #FFF 
  }
  input:hover{
    color:#DCAA68
  }