@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
/*unversal accross all pages for mobile*/
*{
    display: static;
    padding: 0;
    margin: 0;
  }
  body{
    background-color: #F0EEC9;
    font-family: 'Source Serif 4', serif;
    color: #180A00;
    font-size: 14px;
    /*font-weight: 350;*/
    min-height: 100vh;
    width: 100%;
  }  
  header, footer{
    background-color: #AE7F4D;
    width: 100vw;
    height: inherit;
  } 
  a{
    text-decoration: none;
    cursor: auto;
    z-index: 1;
  }
/*header style*/
 #hero{
  position: inline-block;
  background-color: #867D2C;
  letter-spacing: 2px;
  font-size: 16px;
  } 
  .website-header{
    font: bold;
    vertical-align: 20px;
  }
  #menu-bar{
    background-color: #AE7F4D;
    text-align: center;
    line-height: 25px;
    padding: 5px;
  }
  .menu-list a{
    display: inline-block;
    border-right: 2px solid #DCAA68;
    margin-inline: 2px;
    font-family: inherit;
    color: #F0EEC9;
    text-transform: uppercase;
    padding: 5px;
  }
.menu-list a:hover {
  text-decoration: 5px underline #DCAA68;
  color: #FFF;
}
hr{
  border: 1px solid #54441B;
} 
 /*home page body style*/
 section{
  display: block;
  padding: 5px 10px 15px 10px;
  margin: 10px 10px;
  width: 90%;
  height: inherit;  
  word-spacing: 1.5px;
}
h2{
  text-transform: capitalize;
}
.list-purpose li{
  display: block;
  text-align: left;
  text-indent: 0px;
  list-style-type: circle;
  }
.image-caption{
  display: block;
  color: #54441B;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-size: 8px;
}
img{
  width: 200px;
  height: 160px;
  border-radius: 4px;
}
}/*media query setting for tablet
  @media only screen and (min-width: 600px) {
   .container{
    position: inline-block;
  }
.container{
  display: inline-block;
}
  @media only screen and (min-width: 1080px) {
  }*/

  /*section{
    padding: 10px 10px 30px 40px;
    margin: 20px 40px;
    width: 100%;
    height: auto;
  }
  .purpose-box{
    display:flex;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
    content: "";
  }
  .brief-box{
    display:flex;
    justify-content: space-between;
    content: "";
  }
  .image-container{
    margin: 20px;
    padding: 40px;
  }*/
  /*media query setting
  @media only screen and (min-width: 600px) {
    display .brief-box, .purpose-box;
  }
  */
/*.image-container{
  position: relative;
  right:150px;
  top: 5px;
}*/
/*.images{
    width: 580px; 
    height: 300px;
    border-radius: 5px;
  }
  .dance-image{
    background-size: 100%;
    height: ;
  }
  .image-container{
    width: 50vw;
    height: 50vw;
  }
*/
  /*footer style*/
  Footer{
    color: #FFF;
    text-transform: capitalize;
  }
.fontawesome-icons{
  letter-spacing: 8px;
  font-size: 150%;
  line-height: 2px;
  text-align: center;
  padding: 15px 0 10px 0;
}
.fontawesome-icons a{
  color:#FFF
}
.facebook-icon :hover{
  color: #3B5A9B;
}
.twitter-icon :hover{
  color: #2B97F1;
}
.instagram-icon :hover{
  color: #f7120e;
}
.linkedin-icon :hover{
  color: #006599;
}
.site-purpose{
    text-align: center;
    padding: 0 0 10px 0;
  }
 
  /*gallery page style*/
  /*.gallery-images{
    width: 480px; 
    height: 380px;
    border-radius: 8px;
  }*/
  .link-image{
    width: 150px;
    height: 80px;
  }
  .info-for-image{
    width: 250px;
    vertical-align: bottom;
  }
  .link-image:hover{
    background-color: #DCAA68;
    border: 2px solid #54441B;
     }
  #external-links a{
      color: #54441B;
      font-style: italic;
  }
 .resource-links:hover{
      text-decoration: underline 5px solid #DCAA68;    
 }
  /*about us page style*/
iframe{
  width: 560px;
  height: 315px;
}
  /*form syle*/
  form{
    position: relative;
    left: 50%;
    border: 2px solid #867D2C;
    border-radius: 5px;
    width: 560px;
    height: 350px;
  }
  fieldset{
    border: none;
    margin: 5px;
    padding: 5px;
  }
  legend{
    font-size: large;
    font-weight: bold;
  }
  label{
    display: block;
    width: 140px;
    text-align: right;
  }
  .input-style{
    border: 2px solid #867D2C;
    border-radius: 4px;
    background-color: #FFF;
    height: 20px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
  }
  input:focus{
    background-color: #DCAA68;
    border: 2px solid #54441B;
    color: #FFF;
  }
   textarea:focus{
    background-color: #DCAA68;
    border: 2px solid #54441B;
    color: #FFF;
  }

  input[type="email"]:focus{

  }
  textarea {
    width: 100px;
    height: 50px;
    padding: 12px 15px;
    box-sizing: border-box;
    resize: vertical; 
  }
  .button{
    border: #DCAA68;
    background-color: #867D2C;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    color: #FFF ; 
  }
  input[type="submit"]{
    
  }
  input[type="reset"]{
    
  }
  input[type="submit"]:hover, input[type="reset"]:hover{
    color:#DCAA68
  }