@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
/*unversal accross all pages*/
*{
    display: static;
    padding: 0;
    margin: 0;
  }
  body{
    background-color: #F0EEC9;
    font-family: 'Source Serif 4', serif;
    color: #180A00;
    font-size: 16px;
    font-weight: 350;
  }  
  header, footer{
    background-color: #AE7F4D;
  } 
  a{
    text-decoration: none;
    cursor: auto;
  }
  /*media query setting*/
  @media only screen and (min-width: 600px) {
  }
  @media only screen and (min-width: 1080px) {
  }

/*header style*/
 #hero{
  position:relative;
  background-color: #867D2C;
  padding: 0px;
  } 
  #menu-bar{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 75px;
  }

  .menu-list a{
    font-family: inherit;
    color: #F0EEC9;
  }  
.menu-list a:hover {
  background-color: #DCAA68;
  color: #FFF;
}
/*.menu-list > a:visited important{
  color: #54441B;
  font-style: normal;
}*/
  /*footer style*/
  Footer{
    color: #FFF;
  }
.fontawesome-icons{
  letter-spacing: 8px;
  font-size: 150%;
  line-height: 2px;
  text-align: center;
  padding: 15px 0 10px 0;
}
.fontawesome-icons a{
  color:#FFF
}
.facebook-icon :hover{
  color: #3B5A9B;
}
.twitter-icon :hover{
  color: #2B97F1;
}
.instagram-icon :hover{
  color: #f7120e;
}
.linkedin-icon :hover{
  color: #006599;
}
.site-purpose{
    text-align: center;
    padding: 0 0 10px 0;
  }
  /*home page body style*/
  .images{
    width: 580px; 
    height: 300px;
    border-radius: 5px;
  }
  .dance-image{
    background-size: 100%;
    height: ;
  }
  .image-container{
    width: 100%;
    height: auto;
  }
  /*gallery page style*/
  .gallery-images{
    width: 480px; 
    height: 380px;
    border-radius: 8px;
  }
  .link-image{
    width: 150px;
    height: 80px;
  }
  .link-image:hover{
    background-color: #DCAA68;
    border: 2px solid #54441B;
     }
  #external-links a{
      color: #54441B;
      font-style: italic;
  }
 .resource-links:hover{
      text-decoration: underline 5px solid #DCAA68;
      
 }
  /*about us page style*/
iframe{
  width: 560px;
  height: 315px;
}
  /*form syle*/
  form{
    border: 2px solid #867D2C;
    border-radius: 5px;
    width: 560px;
    height: 350px;
  }
  fieldset{
    border: none;
    margin: 5px;
    padding: 5px;
  }
  legend{
    font-size: large;
    font-weight: bold;
  }
  label{
    display: inline-block;
    width: 140px;
    text-align: right;
  }
  .input-style{
    border: 2px solid #867D2C;
    border-radius: 4px;
    background-color: #FFF;
    height: 20px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    
  }
  .input[type="text"]{
    
  }
  input[type="email"]{

  }
  textarea {
    width: 100px;
    height: 50px;
    padding: 12px 15px;
    box-sizing: border-box;
    resize: vertical; 
  }
  .button{
    border: #DCAA68;
    background-color: #867D2C;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    color: #FFF ; 
  }
  input[type="submit"]{
    
  }
  input[type="reset"]{
    
  }
  input:hover{
    color:#DCAA68
  }